# --------------------------------------------------------------------------------------------------
# Files to ignore in git.
# --------------------------------------------------------------------------------------------------

# Temporary build dirs.
/bin/
/obj/
/bin.meta
/obj.meta
/src/bin/
/src/obj/
/src/bin.meta
/src/obj.meta

# Output directory used for ci.
/.output/
/.output.meta

# Docs temp dirs.
/.docs/obj/

# Example
/.example/Library/
/.example/Logs/
/.example/Temp/
/.example/obj/
/.example/*.csproj
/.example/*.sln
/.example/.*/
