# --------------------------------------------------------------------------------------------------
# Files to ignore in git.
# --------------------------------------------------------------------------------------------------

# Temp output
.bin/
.obj/

# Example
.example/Library/
.example/Logs/
.example/Temp/
.example/obj/
.example/*.csproj
.example/*.sln
.example/.vscode/
