# --------------------------------------------------------------------------------------------------
# Files to ignore in git.
# --------------------------------------------------------------------------------------------------

# Temp output
.bin/
.obj/
output/
output.meta
/src/bin/
/src/obj/

# Example
.example/Library/
.example/Logs/
.example/Temp/
.example/obj/
.example/*.csproj
.example/*.sln
.example/.vscode/
